<div class="filter-config" data-element-tagList="${properties.tagList}" data-element-rootPagePath="${properties.rootPagePath}" 
   data-element-noOfItems="${properties.noOfItems}" data-element-pagination="${properties.pagination}"
   data-element-imagePathReference="${properties.imagePathReference}" />
<div class="row component column-splitter">
<div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"></div>
<div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
   <div class="component custom-facet-summary col-12" data-properties='{"searchResultsSignature":"capabilities-search"}'>
      <div class="component-content">
         <div class="facet-heading">
            <h4 class="facet-title"></h4>
         </div>
         <div class="bottom-remove-filter">
            <button type="button">
            Remove All
            </button>
         </div>
         <div class="facet-summary-placeholder">
            <ul class="facet-summary-list">
            </ul>
         </div>
      </div>
   </div>
</div>
<div class="row component column-splitter">
   <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <section class="custom-listing-facets">
         <div class="container">
            <div class="case-study-sidebar">
               <ul class="sidebar-menu projects">                        
               </ul>
            </div>
         </div>
      </section>
   </div>
   <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
      <div class="component search-results horizontal col-12 ixm-search-result">
         <div class="search-result-list projectOne" style="width: 900px">
         </div>
         <div class="search-result-overlay"></div>
      </div>
      <div class="component load-more col-12 position-center" data-properties='{"searchResultsSignature":"capabilities-search"}'>
         <div class="component-content loadMore">
            <input type="button" value="Load More" />
         </div>
      </div>
   </div>
</div>
