
<header class="overlapped">
    <div class="component row-splitter">
        <div class=" main-header container-fluid">
            <div>
                <div data-sly-resource = "${'logo' @ resourceType = 'ixm-aem/components/logo'}"></div>
                <div data-sly-resource = "${'navigation' @ resourceType = 'ixm-aem/components/navigation'}"></div>
            </div>
        </div>
        <div class="container-fluid">
            <div>
            </div>
        </div>
    </div>
</header>