<footer>
	<div id="footer" class="">
		<div class="component container">
			<div class="component-content">
				<div
					class="component content automate-pagecontent-connectwithus col-12">
					<div class="component-content">
						<section class="subscription">
							<div class="container">
								<div class="subscription-inner">
									<div class="row">
										<div class="col-lg-6 social">
											<!--/*Link Component*/-->
											<div
												data-sly-resource="${'socialLinks' @ resourceType='ixm-aem/components/link'}"></div>
										</div>
										<div class="col-lg-6 email-sub">
											<!--/*Email Subscription Component*/-->
											<div
												data-sly-resource="${'emailSubscription' @ resourceType='ixm-aem/components/emailSubscription'}"></div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
		<div class="component container col-10 footer-top">
			<div class="component-content">




<div class="row component column-splitter" data-sly-resource="${'tabLinks' @ resourceType='ixm-aem/components/tabLinks'}"></div>

				<div class="row component column-splitter">
					<!--/*                    <div data-sly-resource = "${'link' @ resourceType='ixm-aem/components/link'}"></div>*/-->
					<div class="col-7">
						<div
							class="component footer-text-component automate-footertext col-12 footer-margin link-resize">
							<div class="component-content">
								<div class="container">
									<div class="row">
										<div class="field-copyright-text">? IXM. All Rights
											Reserved</div>
										<a class="field-sitemapurl"><span>&nbsp;</span><span></span></a><a
											href="#"> | Sitemap</a><span>&nbsp;</span>
										<div class="component link">
											<div class="component-content">
												<div class="modified-decorator field-link">
													<a href="#"
														data-variantitemid="{FB7C4D7B-96A1-4323-A71F-BB4EE178211D}"
														data-variantfieldname="Link">| Disclaimer</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-5">
						<div
							class="component language-selector col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 footer-margin initialized">
							<div class="component-content">
								<div class="language-selector-select-item"
									data-language-code="en" data-country-code="us">
									<a class="language-selector-select-link flags-us"> English
									</a>
								</div>
								<ul class="language-selector-item-container">
									<li class="language-selector-item" data-language-code="de"
										data-country-code="de"><a href="/de-DE/" class="flags-de">
											Deutsch (Deutschland) </a></li>
									<li class="language-selector-item is-active"
										data-language-code="en" data-country-code="us"><a
										href="/en/" class="flags-us"> English </a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
